.formContainer {
  max-width: 480px;
  margin: 0 auto;
}

.formHeader {
  font-size: 1.5rem;
  margin-bottom: 32px;
  text-align: center;
  border-bottom: 2px solid var(--font-color);
  padding-bottom: 10px;
}

.scrollableContainer {
  margin-bottom: 20px;
}

.scrollableContent {
  height: 150px;
  overflow-y: scroll;
  border: 1px solid var(--border-color);
  padding: 12px;
  margin-bottom: 16px;
  border-radius: 5px;
}

.containerHeader {
  font-size: 1.125rem;
  margin-bottom: 12px;
  color: #333;
  border-left: 4px solid var(--font-color);
  padding-left: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.row {
  display: flex;
  gap: 0.5rem;
}

.button {
  flex: 1;
  min-width: fit-content;
}

.link {
  color: #ADD3FF;
  text-decoration: none;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.checkLabel {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  cursor: pointer;
  justify-content: flex-end;
}

.checkbox {
  display: none;
}

.customCheckbox {
  width: 18px;
  height: 18px;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  margin-left: 10px;
  position: relative;
  display: inline-block;
}

.checkbox:checked + .customCheckbox {
  background-color: var(--primary-button-color);
  border: none;
}

.checkbox:checked + .customCheckbox::after {
  content: '';
  position: absolute;
  top: 1.5px;
  left: 4.5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkAllContainer {
  margin-bottom: 20px;
}
