.container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  text-align: center;
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.description {
  font-size: 1.125rem;
  margin-bottom: 190px;
}

.inputContainer {
  max-width: 468px;
  width: 100%;
  margin-bottom: 79px;
  text-align: center;
}

.input {
  text-align: center;
  margin-bottom: 14px;
  outline: none;
  width: 100%;
}

.inputDescription {
  font-size: 1.125rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button {
  background-color: #ADD3FF;
  color: #EBEBEB;
  font-size: 1.125rem;
  font-weight: bold;
  border-radius: 10px;
  height: 40px;
  max-width: 368px;
  width: 100%;
}