.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-gradient-color);
  padding: 16px;
}

.logo {
  filter: brightness(0) invert(1);
}

.header nav a {
  margin-left: 16px;
  text-decoration: none;
  color: white;
}
