.popularPosts {
  margin-bottom: 56px;
}

.sectionHeader {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
  align-items: end;
}
  
.sectionTitle {    
  font-size: 1.125rem;
}

.sectionSubtitle {
  font-size: 0.875rem;
}

.postList {
  display: flex;
  flex-direction: column;
}

.record {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  height: 144px;
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
  padding: 16px;
  position: relative;
}

.thumbnail {
  min-width: 112px;
  height: 112px;
  background-color: #d9d9d9;
  border-radius: 10px;
  overflow: hidden;
}

.thumbnailImage {
  width: 112px;
  height: auto;
}

.info {
  padding: 8px;
}

.username {
  font-size: 0.625rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.bookName {
  font-size: 0.625rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 8px;
}

.content {
  font-size: 0.75rem;
}

.day {
  position: absolute;
  bottom: 8px;
  right: 13px;
  font-size: 0.625rem;
  color: var(--gray);
}