.recordContainer {
  width: 100%;
  padding: 16px 0;
}

.title {
  padding: 0px 20px;
  margin-bottom: 16px;
}

.goalSection {
  margin: 0 24px 16px 24px;
}

.goal {
  border: 1px solid var(--primary-color);
  display: flex;
  width: 100%;
  height: 76px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}
 
.dayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dayName {
  font-size: 0.625rem;
  font-weight: bold;
}

.day {
  font-size: 0.625rem;
  font-weight: bold;
}

.inputGroupSection {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  display: flex;
  gap: 8px;
  justify-content: left;
  align-items: center;
}

.todayInput {
  font-size: 0.875rem;
  width: 120px;
  font-weight: bold;
  color: var(--primary-color);
}

.description {
  font-size: 0.875rem;
  min-width: fit-content;
  line-height: 1.75rem;
}

.openGoalSection {
  display: flex;
  justify-content: space-between;
}

.buttonGroup {
  display: flex;
  gap: 16px;
  margin-right: 24px;
}

.button {
  width: 92px;
  height: 32px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 10px;
  background-color: var(--hint-gray);
}

.button.selected {
  background-color: var(--primary-color);
}