.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 32px;
}

.timerButton {
  width: 364px;
  height: 52px;
  border-radius: 10px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 1.125rem;
  font-weight: bold;
  color: #ffffff;
}