.title {
  font-size: 1.125rem;
  margin-bottom: 20px;
}

.goalContainer {
  margin-bottom: 24px;
}

.goal {
  border: 1px solid var(--primary-color);
  display: flex;
  width: 100%;
  height: 108px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}
  
.goal:not(:last-child) {
  margin-bottom: 16px;
}
 
.dayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dayName {
  font-size: 0.625rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 8px;
}

.day {
  font-size: 0.625rem;
  font-weight: bold;
}

.inputGroupSection {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  display: flex;
  gap: 8px;
  justify-content: left;
  align-items: center;
}

.input {
  font-size: 0.875rem;
  width: 150px;
  font-weight: bold;
}

.description {
  font-size: 0.875rem;
  min-width: fit-content;
  line-height: 1.75rem;
}