.memo {
  padding: 4px 16px;
  border-radius: 5px;
  margin-bottom: 32px;
  background: white;
  border: 1px solid var(--border-color);
  height: 500px;
}

.memoForm {
  padding: 16px 0px;
}

.memoInput {
  margin-bottom: 16px;
}

.memoSection {
  margin-bottom: 16px;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
}

.memoButton {
}