.userInfoContainer {
  padding: 0px 50px;
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.userProfile {
  width: 102px;
  height: 102px;
  border-radius: 50%;
  overflow: hidden;
}

.userInfo {

}

.userGrade {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
}

.userGradeName {
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--primary-color);
}

.userUpgrade {
  width: 56px;
  height: 20px;
  background: linear-gradient(90deg, #69c1ed 0%, #3483be 100%);
  font-size: 0.75rem;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
}

.userUpgradeOn {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  right: -2px;
  top: -2px;
  background-color: #FF6262;
}

.userName {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 4px;
}

.honorifics  {
  font-size: 0.875rem;
  font-weight: bold;
}

.comment {
}