.container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  text-align: center;
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 54px;
}

.description {
  font-size: 1.125rem;
  margin-bottom: 56px;
}

.goalContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.goalText {
  font-size: 1.125rem;
  min-width:fit-content;
  line-height: 2.5rem;
}

.goalInputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.goalInputContainer:not(:last-child) {
  margin-bottom: 24px;
}

.inputAction {
  width: 185px;
}

.inputBook {
  width: 136px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
  gap: 16px;
  padding: 0 20px;
}
.button {
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: bold;
  border-radius: 10px;
  height: 40px;
  max-width: 368px;
  width: 100%;
}

.button:disabled {
  background-color: var(--hint-primary-color);
}