.container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  text-align: center;
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 54px;
}

.description {
  font-size: 1.125rem;
  margin-bottom: 56px;
}

.goalContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.goalText {
  font-size: 1.125rem;
  min-width:fit-content;
  line-height: 2.5rem;
}

.goalInputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.goalInputContainer:not(:last-child) {
  margin-bottom: 24px;
}

.inputAction {
  width: 185px;
}

.inputBook {
  width: 136px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}

.button {
  background-color: #ADD3FF;
  color: #EBEBEB;
  font-size: 1.125rem;
  font-weight: bold;
  border-radius: 10px;
  height: 40px;
  max-width: 368px;
  width: 100%;
}

.skipButtonContainer {
  width: 100%;
  text-align: center;
}

.skipButton {
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--gray);
  border-bottom: 1px solid var(--gray);
}