.controls {
  display: flex;
  margin-bottom: 24px;
  gap: 8px;
}

.controls button {
  flex: 1;
  background-color: white;
  color: var(--font-color);
  border: 1px solid var(--border-color);
}

.controls button:hover {
  border-color: var(--primary-color);
  color: var(--primary-text-color);
  background-color: white;
}