:root {
  --hint-primary-color: #ADD3FF;
  --primary-color: #51A8DD;
  --primary-text-color: #348CCB;
  --primary-button-color: #65BCEB;
  --primary-button-hover-color: #348CCB;
  --primary-gradient-color: linear-gradient(135deg, #65BCEB 0%, #348CCB 100%);
  --error-color: red;
  --background-color: #fff;
  --font-color: #3B3B3B;
  --font-grey-color: #7c7c7c;
  --shadow-color: #aeaec066;
  --border-color: #d9d9d9;
  --gray: #8E8E8E;
  --hint-gray: #EBEBEB;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--font-color);
}
  
body {
  font-family: Noto_Sans_KR;
}
  
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration-line: none;
  color: var(--font-color);
}

input, select {
  width: 100%;
  padding: 8px;
  font-size: 1.125rem;
  margin: 0;
  border-style: none;
  border-bottom: 1px solid var(--border-color);
  outline: none;
  text-align: center;
}

input::placeholder {
  color: var(--hint-gray);
}

textarea {
  resize: none;
  font-size: 1.125rem;
  font-family: Noto_Sans_KR;
  border-radius: 10px;
  border: 1px solid var(--gray);
  padding: 16px;
  outline: none;
}

textarea::placeholder {
  color: var(--hint-gray);
}
  
button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.mainContainer {
  display: flex;
  max-height: 100dvh;
}

.mainLeftSection {
  background-color: #f3f3f3;
  padding: 0 25px;
  flex: 1;
}

.mainRightSection {
  max-width: 560px;
  width: 100%;
  flex-shrink: 0;
}  

@media (max-width: 768px) {
  .mainLeftSection {
      display: none;
  }

  .mainRightSection {
      flex: 1;
      max-width: none;
  }
}

/* Chrome, Whale, Edge */
::-webkit-scrollbar {
  width: 8px; /* 세로 스크롤바의 너비 */
  height: 8px; /* 가로 스크롤바의 높이 */
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray); /* 스크롤바의 색상 */
  border-radius: 10px; /* 스크롤바의 둥근 모서리 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* 스크롤바에 마우스를 올렸을 때의 색상 */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* 스크롤바 트랙의 색상 */
  border-radius: 10px; /* 스크롤바 트랙의 둥근 모서리 */
}