.container {
  position: relative;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 0 20px;
}

.headerSection {
  position: relative;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerTitle {
  font-size: 1.125rem;
}

.backButton {
  position: absolute;
  left: 0;
}

.infoSection {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 32px;
}

.bookImage {
  width: 96px;
  height: 128px;
  border-radius: 10px;
  background-color: var(--hint-gray);
  margin-right: 16px;
}

.bookInfo {
  display: flex;
  flex-direction: column;
}

.timeInfo {
  display: flex;
  align-items: center;
  gap: 7px;
}

.time {
  font-size: 0.75rem;
  color: var(--gray);
  margin-bottom: 6px;
}

.bookName {
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 9px;
}

.authorName {
  font-size: 0.625rem;
}

.editor {
  width: 100%;
  margin-bottom: 15px;
}

.imageSection {
  display: flex;
  margin-bottom: 48px;
}

.addImage {
  margin-right: 16px;
}

.addImageButton {
  height: 72px;
  width: 72px;
  background-color: var(--hint-gray);
  border-radius: 10px;
}

.imageList {
  display: flex;
  gap: 16px;
}

.image {
  position: relative;
  height: 72px;
  width: 72px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.deleteFile {
  position: absolute;
  top: -8px;
  right: -8px;
}

.recordSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 88px;
}

.recordTitle {
  font-weight: bold;
}

.buttonGroup {
  display: flex;
  gap: 16px;
}

.disableButton {
  width: 92px;
  height: 32px;
  border-radius: 10px;
  background-color: #d9d9d9;
  font-weight: bold;
  color: #ffffff;
}

.enableButton {
  width: 92px;
  height: 32px;
  border-radius: 10px;
  background-color: var(--primary-color);
  font-weight: bold;
  color: #ffffff;
}

.finishButtonGroup {
  width: 100%;
  display: flex;
  justify-content: center;
}

.finishButton {
  width: 100%;
  max-width: 368px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: #ffffff;
  font-weight: bold;
}

