.container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  text-align: center;
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.description {
  font-size: 1.125rem;
  margin-bottom: 69px;
}

.inputContainer {
  max-width: 416px;
  width: 100%;
  margin-bottom: 79px;
  padding: 0px 24px;
}

.inputRow {
  display: flex;
  justify-content: space-between;
}
  
.inputRow:not(:last-child) {
  margin-bottom: 36px;
}

.inputLabel {
  font-size: 1.125rem;
  line-height: 2.5rem;
  font-weight: bold;
}

.inputGroup {
  display: flex;
  max-width: 200px;

}

.input {
  text-align: center;
  outline: none;
  max-width: 200px;
  width: 100%;
}

.inputDescription {
  font-size: 1.125rem;
}

.genderButton {
  width: 100px;
  border-bottom: 1px solid var(--hint-gray);
  padding: 8px;
  font-size: 1.125rem;
  color: var(--hint-gray);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
  gap: 16px;
  padding: 0 20px;
}

.genderButton.selected {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.button {
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: bold;
  border-radius: 10px;
  height: 40px;
  max-width: 368px;
  width: 100%;
}

.button:disabled {
  background-color: var(--hint-primary-color);
}

.skipButtonContainer {
  width: 100%;
  text-align: center;
}

.skipButton {
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--gray);
  border-bottom: 1px solid var(--gray);
}